<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}RatMap{% endblock %}</title>
    <link href="/images/favicon.ico" rel="icon">
    <link href="stylesheets/styles.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM3a92FKH4ItIyu2RyN0h-FDO-dpQ_rDc"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/scripts/gmap.js"></script>
    <script src="/scripts/utils.js"></script>
    <script src="/scripts/main.js"></script>
  </head>

  <body>    
    <nav id="menunav" class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">RatMap</a>
          <button id="all-rats" class="btn btn-secondary">All rats!</button>
          <button id="reset" class="btn btn-warning">Reset</button>
          <img id="fetching" src="/images/rolling.svg">
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}

  </body>

</html>


