* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.navbar {
	margin-bottom: 0;
}

#search {
	width: 200px;
	margin-right: 15px;
	padding: 2px;
}

#nav-icon {
	height: 2.2em;
	padding-right: 1em;
	display: inline-block;
}

.navbar-brand {
	display: flex;
	align-items: center;
}
